{% load staticfiles %}{% load i18n %}<!DOCTYPE HTML>
<html lang="{{LANGUAGE_CODE|default_if_none:'en-us'}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Manage Image Styles" %}</title>
    <link rel="stylesheet" href="{% static 'image_styles/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'image_styles/node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'image_styles/css/styles.css' %}">
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'image_styles:manage_image_styles' %}">{% trans "Image Styles" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main">
    <span class="navbar-toggler-icon"></span>
  </button>
   <a href="{% url 'image_styles:style_create' %}" class="nav-link ml-auto" data-toggle="modal" data-target="#generic-modal"><i class="fa fa-plus"></i> {% trans "New Style" %}</a>
</nav>

      <div class="container">
{% for s in styles %}
    <div class="row"><div class="col-sm-6 offset-sm-3 mt-3">
      <h2 class="style-title"><span class="style-name">{{s.style}}</span><a href="{% url 'image_styles:style_update' s.style.id %}" data-toggle="modal" data-target="#generic-modal"><i class="fa fa-pencil"></i></a><a class="ml-auto" href="{% url 'image_styles:effect_create_init' s.style.id %}" data-toggle="modal" data-target="#generic-modal"><i class="fa fa-plus"></i></a></h2>
    </div></div>
    <div class="row effects"><div class="loading"></div><div class="col-sm-6 offset-sm-3 sortable">
  {% for effect in s.effects %}
    <div class="effect">
      <div class="effect-move">
        <div class="effect-header">
          <div class="effect-title"><i class="fa fa-bars"></i></span> {{effect.name}}</div>
          <div class="effect-edit ml-auto"><i class="fa fa-pencil"></i></div>
        </div>
      </div>
      {% include 'image_styles/effect_form.html' with action=effect.action form=effect.form %}
    </div>
  {% endfor %}
    </div></div>
{% endfor %}
    </div>

<div class="modal" id="generic-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Loading..." %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script src="{% static 'image_styles/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'image_styles/node_modules/jqueryui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'image_styles/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'image_styles/js/scripts.js' %}"></script>
  </body>
</html>
