<form action="{{action}}" method="POST">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {{form.as_p}}
  </div>
  <div class="modal-footer">
    {% if delete_button %}<input type="submit" class="btn btn-danger mr-auto" name="delete" value="{{delete_button}}">{% endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {% if submit_button %}<input type="submit" class="btn btn-primary" value="{{submit_button}}">{% endif %}
  </div>
</div>
</form>
